Calculating Analog Average,Volatage and Peterry Percentage in Nod-red/flow.json
[
    {
        "id": "0a8d24b7155cfe39",
        "type": "tab",
        "label": "Flow1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fa6a267bed81c34",
        "type": "group",
        "z": "0a8d24b7155cfe39",
        "name": "",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "d9fce622d094af49",
            "67aed9813bfb2709",
            "317b453487135de5",
            "ef74db734f5a352b",
            "6d223eea7008c66d",
            "f89026ed870f88be",
            "95c3bf5c34598002",
            "87b1b60fa1173019",
            "24cfffecbb12ecdb",
            "a2384523c2597ab4",
            "496fa20b1ea5dc7b",
            "4bd1b3a28ef0e423",
            "e6ea2845f6ccd86f",
            "40ef7b155a34076a",
            "fe94c5bcabd121bf",
            "93c6692bd5807889",
            "c8e08f480e2262aa"
        ],
        "x": 74,
        "y": 139,
        "w": 992,
        "h": 782
    },
    {
        "id": "d9fce622d094af49",
        "type": "mqtt in",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "",
        "topic": "EspSensor",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1859adcc0878b50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "67aed9813bfb2709",
                "ef74db734f5a352b"
            ]
        ]
    },
    {
        "id": "67aed9813bfb2709",
        "type": "debug",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "317b453487135de5",
        "type": "ui_gauge",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "",
        "group": "2e484d67cec38b91",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "12",
        "colors": [
            "#f23b26",
            "#f5f529",
            "#57f542"
        ],
        "seg1": "10.8",
        "seg2": "11.5",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef74db734f5a352b",
        "type": "function",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "function 18",
        "func": "// let voltage = (msg.payload[\"sensor\"][\"analogValue\"])\n// let percentage = (msg.payload[\"sensor\"][\"batPercentage\"]).toFixed();\n\n// return[{\"payload\":voltage + \"V\"}];\n\n// // if(voltage){\n// //     msg.payload = voltage;\n// //     return [msg, null];\n\n// // }else if (percentage){\n// //     msg.payload = percentage;\n// //     return[null,msg];\n// // }\n\n\n\nlet analogvalue = msg.payload[\"sensor\"][\"analogValue\"];\nlet aveAnalogValue = 0;\nlet numSamples = 8;\nfor (let i = 0; i < numSamples; i++) {\n  aveAnalogValue += analogvalue / numSamples;\n}\n\nlet voltage = ((aveAnalogValue * 12.13) / (4096.00)).toFixed(1);\n//msg.payload = (voltage);\nlet percentCalc = Number(voltage)\n\nlet percentage = ((percentCalc/12.13)*(100/1)).toFixed(1);\n\nreturn [{\"payload\": voltage + \"V\"}, {\"payload\": percentage + \"%\"}];\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "317b453487135de5",
                "6d223eea7008c66d"
            ],
            [
                "f89026ed870f88be",
                "95c3bf5c34598002"
            ]
        ]
    },
    {
        "id": "6d223eea7008c66d",
        "type": "debug",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 320,
        "wires": []
    },
    {
        "id": "f89026ed870f88be",
        "type": "debug",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "debug 42",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "95c3bf5c34598002",
        "type": "ui_text",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "group": "2e484d67cec38b91",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bat %",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "87b1b60fa1173019",
        "type": "comment",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "Smart UPS Node-red Canculations",
        "info": "These flows contain calculations to determine voltage and battery percentage based on analog reading from the ESP32",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "24cfffecbb12ecdb",
        "type": "mqtt in",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "",
        "topic": "esp32/battery_guage/analogSensorAvarage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1859adcc0878b50c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 760,
        "wires": [
            [
                "496fa20b1ea5dc7b",
                "fe94c5bcabd121bf"
            ]
        ]
    },
    {
        "id": "a2384523c2597ab4",
        "type": "comment",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "Analog value straight to a topic",
        "info": "",
        "x": 230,
        "y": 680,
        "wires": []
    },
    {
        "id": "496fa20b1ea5dc7b",
        "type": "debug",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "4bd1b3a28ef0e423",
        "type": "comment",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "Analog Value sent in JSON format",
        "info": "",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "e6ea2845f6ccd86f",
        "type": "ui_gauge",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "",
        "group": "63521f5ff5551d20",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Status 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#ed3326",
            "#e6e600",
            "#45f722"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 740,
        "wires": []
    },
    {
        "id": "40ef7b155a34076a",
        "type": "ui_text",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "group": "63521f5ff5551d20",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bat %",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 800,
        "wires": []
    },
    {
        "id": "fe94c5bcabd121bf",
        "type": "function",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "function 19",
        "func": "\nlet analogvalue = msg.payload;\nlet aveAnalogValue = 0;\nlet numSamples = 8;\nfor (let i = 0; i < numSamples; i++) {\n  aveAnalogValue += analogvalue / numSamples;\n}\n\nlet voltage = ((aveAnalogValue * 12.13) / (4096.00)).toFixed(1);\nlet percentCalc = Number(voltage);\n\nlet percentage = ((percentCalc/12.13)*(100/1)).toFixed(1);\n\nreturn [{\"payload\": voltage + \"V\"}, {\"payload\": percentage + \"%\"}];\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 760,
        "wires": [
            [
                "93c6692bd5807889",
                "e6ea2845f6ccd86f"
            ],
            [
                "c8e08f480e2262aa",
                "40ef7b155a34076a"
            ]
        ]
    },
    {
        "id": "93c6692bd5807889",
        "type": "debug",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "debug 44",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 660,
        "wires": []
    },
    {
        "id": "c8e08f480e2262aa",
        "type": "debug",
        "z": "0a8d24b7155cfe39",
        "g": "1fa6a267bed81c34",
        "name": "debug 45",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 880,
        "wires": []
    },
    {
        "id": "1859adcc0878b50c",
        "type": "mqtt-broker",
        "name": "Remote Mqtt",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2e484d67cec38b91",
        "type": "ui_group",
        "name": "Battery Status",
        "tab": "799b2eecb386da4c",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63521f5ff5551d20",
        "type": "ui_group",
        "name": "Battery Guages",
        "tab": "24692d0870c40bfb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "799b2eecb386da4c",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "24692d0870c40bfb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
